@{
    ViewData["Title"] = "Blog";
    ViewData["MetaDescription"] = "Découvrez les dernières stratégies, astuces et tendances en marketing digital sur le blog de Cashflow Creators. Boostez votre entreprise avec nos conseils experts.";
    ViewData["MetaKeywords"] = "blog marketing, astuces marketing digital, tendances SEO, publicités Google, réseaux sociaux, conseils entreprise, stratégie digitale, marketing pour PME, Cashflow Creators blog, croissance business";
}
@model IEnumerable<Models.Blog>
@functions {
    public static string Truncate(string text, int maxLength)
    {
        if (string.IsNullOrEmpty(text) || text.Length <= maxLength)
            return text;

        return text.Substring(0, maxLength) + "...";
    }
}

<div class="page-title dark-background" data-aos="fade">
    <div class="container position-relative">
        <h1>
            Bienvenue sur notre blog !
        </h1>
        <p>
            Découvrez des conseils, astuces et stratégies pour faire évoluer votre entreprise. Chaque article est basé sur des solutions éprouvées et des outils testés. Ici, vous trouverez des informations pour réussir vos projets.
            <span class="fw-bold">
                CONSTRUISONS ENSEMBLE QUELQUE CHOSE D'INCROYABLE !

            </span>
        </p>
    </div>
</div>
<section class="section">
    <div class="d-flex flex-column align-items-center m-5">
        @foreach (var item in Model)
        {
            <div class="card mb-4 d-flex flex-row flex-md-row align-items-center mx-2 row" style="width: 100%;">
                <div class="col-12 col-md-4 p-0 order-md-1">
                    <img src="@item.ImgUrl" alt="Blog Image" class="w-100" style="object-fit: cover; height: 100%;">
                </div>
                <div class="col-12 col-md-8 card-body d-flex flex-column justify-content-center order-md-2">
                    <h2 class="card-title">@item.Title</h2>
                    <p class="card-text">@Html.Raw(@Truncate(item.Body, 250))</p>
                    <a asp-controller="Blogs" asp-route-id="@item.Id" asp-action="detail" class="btn btn-dark align-self-start">En savoir plus</a>
                </div>
            </div>
        }
    </div>
</section>


