@{
    ViewData["Title"] = "Blog";
    ViewData["MetaDescription"] = "Découvrez des conseils, astuces, et stratégies pour créer des applications web ainsi que des sites web de qualité et faire évoluer votre entreprise. Chaque article est basé sur des solutions éprouvées et des outils testés pour offrir une expérience utilisateur optimale.";
    ViewData["MetaKeywords"] = "site internet, agence de développement web casablanca, développement web, consultation gratuite, application web ,CA Web Solutions";
}
@model IEnumerable<Models.Blog>
@functions {
    public static string Truncate(string text, int maxLength)
    {
        if (string.IsNullOrEmpty(text) || text.Length <= maxLength)
            return text;

        return text.Substring(0, maxLength) + "...";
    }
}

<div class="page-title dark-background" data-aos="fade">
    <div class="container position-relative">
        <h1>
            Bienvenue sur notre blog !
        </h1>
        <p>
            Découvrez des conseils, astuces et stratégies dans le domaine web pour faire évoluer votre entreprise. Chaque article est basé sur des solutions éprouvées et des outils testés. Ici, vous trouverez des informations pour réussir vos projets digitaux !<br />
            <span class="fw-bold">
                CONSTRUISONS ENSEMBLE QUELQUE CHOSE D'INCROYABLE !

            </span>
        </p>
    </div>
</div>
<section class="section">
    <div class="d-flex flex-column align-items-center m-5">
        @foreach (var item in Model)
        {
            <div class="card mb-4 d-flex flex-row flex-md-row align-items-center mx-2 row" style="width: 100%;">
                <div class="col-12 col-md-4 p-0 order-md-1">
                    <img src="@item.ImgUrl" alt="Blog Image" class="w-100" style="object-fit: cover; height: 100%;">
                </div>
                <div class="col-12 col-md-8 card-body d-flex flex-column justify-content-center order-md-2">
                    <h2 class="card-title">@item.Title</h2>
                    <p class="card-text">@Html.Raw(@Truncate(item.Body, 250))</p>
                    <a asp-controller="Blogs" asp-route-id="@item.Id" asp-action="detail" class="btn btn-dark align-self-start">En savoir plus</a>
                </div>
            </div>
        }
    </div>
</section>


